#gameboard{
    width: 432px;
    height: 432px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(146, 39, 39);
    margin: 0 auto;
    margin-top: 30px;
}
.square{
    height: 54px;
    width: 54px;
    position: relative;
}
.square svg{
    height: 40.5px;
    width: 40.5px;
    margin: 6px;
    position: relative;
    z-index: -9;
}
path{
    position: relative;
    z-index: -10;
}
.piece{
    position: relative;
    z-index: 9;
}
.brown{
    background-color: rgb(146, 39, 39);
}
.beige{
    background-color: #B18753;
}
.black{
    fill: rgb(40, 40, 40);
}
.white{
    fill: #FFFFEF;
}
.alert.alert-secondary, .alert.alert-danger, .alert.alert-success{
    height: 30px;
    width: 432px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    font-size: 16px;
    line-height: 0;
}
.footer {
    background-color: #2b2c2d;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px;
    text-align: center;
    color: #FFFFEF;
    font-size: 16px;
    line-height: 10;
}
.group {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    margin-bottom: 150px;
}
.content {
    width: 35%;
    padding: 10px;
}
.rectangle {
    width: 300px;
    height: 432px;
    background-color: #ebebeb;
    border-radius: 1%; 
    text-align: center;
    align-self: first baseline;
    margin-top: 30px;
}
.valid-move {
    background-color: rgba(82, 189, 82, 0.5);
}
.invalid-move {
    background-color: rgba(255, 0, 0, 0.5); 
}
.captured-pieces{
    width: 300px;
    height: 216px;
    background-color: #ebebeb;
    border-radius: 1%; 
    text-align: center;
    align-self: first baseline;
    margin-top: 30px;
}


